# Sass
.sass-cache
*.scssc

# Editors
sftp-config.json
.vscode

# Jekyll
# .jekyll-metadata
/.bundle
/vendor
# .jekyll-cache
_site

# Compiled Files
/assets/css/**/*.css
# /assets/js/*.js

# Node.js
node_modules/
package-lock.json

# Logfiles and tempfiles
*.log
/log/*
!/log/.keep
/tmp

# Other unneeded files
doc/
*.swp
*~
.project
.DS_Store
.idea
.secret
.history/

# removing post.bak to avoid building time. This folder is the original with all the posts and it has to be included
# for production
_posts.bak
