/*===============================
=            Sectors            =
===============================*/
.card {
  font-family: 'newnord';
  font-weight: bold;
  font-size: 24px;
  background-color: #0077cc; /* Replace with the actual color you want */
  color: white; /* Replace with the actual text color you want */
  width: 401px;
  height: 240px;
  margin: auto;
  display: flex;
  align-items: center; /* This vertically centers the text */
  justify-content: center; /* This horizontally centers the text */
  text-align: center; /* Ensures the text itself is also centered if it wraps to a new line */
	position: relative;
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 65, 101, 0.7); /* Blue color with 50% opacity */
  z-index: 1; /* Situates the overlay above the background image but below the content */
}

.card > .sector-card-label {
  position: relative;
  z-index: 2; /* Higher z-index value than the ::before pseudo-element */
  /* Other styles for padding or centering the text within the card */
}

.cards {
  max-width: 1267px;
  margin: auto;
  display: grid;
  grid-gap: 2rem;
  box-sizing: border-box; /* Ensures padding is included in total width and height */
  align-items: center;
  justify-content: center;
  padding: 96px 20px;
}

/* Screen larger than 600px? 2 column */
@media (min-width: 900px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .card:nth-child(7) {
    grid-column-start: 1; /* Starts at the second column line */
    grid-column-end: 3; /* Ends at the third column line */
  }
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .card:nth-child(7) {
    grid-column-start: 2; /* Starts at the second column line */
    grid-column-end: 3; /* Ends at the third column line */
  }
}

#energy-card {
  background-size: cover;
  background-position: center;
  background-image: url('https://res.cloudinary.com/csisideaslab/image/upload/v1707339994/indian-states/energy-suzlon-wind-turbine.jpg');
}

#finance-card {
  background-size: cover;
  background-position: center;
  background-image: url('https://res.cloudinary.com/csisideaslab/image/upload/v1707339994/indian-states/energy-suzlon-wind-turbine.jpg');
}

#health-card {
  background-size: cover;
  background-position: center;
  background-image: url('https://res.cloudinary.com/csisideaslab/image/upload/v1707340033/indian-states/health-tablet-clinic.jpg');
}

#business-card {
  background-size: cover;
  background-position: center;
  background-image: url('https://res.cloudinary.com/csisideaslab/image/upload/v1707339994/indian-states/energy-suzlon-wind-turbine.jpg');
}

#infrastructure-card {
  background-size: cover;
  background-position: center;
  background-image: url('https://res.cloudinary.com/csisideaslab/image/upload/v1707339994/indian-states/energy-suzlon-wind-turbine.jpg');
}

#labor-card {
  background-size: cover;
  background-position: center;
  background-image: url('https://res.cloudinary.com/csisideaslab/image/upload/v1707339994/indian-states/energy-suzlon-wind-turbine.jpg');
}

#water-card {
  background-size: cover;
  background-position: center;
  background-image: url('https://res.cloudinary.com/csisideaslab/image/upload/v1707339994/indian-states/energy-suzlon-wind-turbine.jpg');
}
