---
layout: default
---

<div class="sector-grid">
  <a
    href="https://indianstates.csis.org/sectors/energy/"
    target="_blank"
    rel="noopener noreferrer"
    class="sector-card energy"
    id="sector-card-energy"
  >
    <div class="sector-label">Climate Change & Energy</div>
  </a>
  <a
    href="https://indianstates.csis.org/sectors/finance/"
    target="_blank"
    rel="noopener noreferrer"
    class="sector-card finance"
    ><div class="sector-label">Finance</div></a
  >
  <a
    href="https://indianstates.csis.org/sectors/industrial-policy-and-business-regulations/"
    target="_blank"
    rel="noopener noreferrer"
    class="sector-card health"
    ><div class="sector-label">Health</div></a
  >
  <a
    href="https://indianstates.csis.org/sectors/industrial-policy-and-business-regulations/"
    target="_blank"
    rel="noopener noreferrer"
    class="sector-card business"
  >
    <div class="sector-label">Industrial Policy and Business</div>
  </a>
  <a
    href="https://indianstates.csis.org/sectors/industrial-policy-and-business-regulations/"
    target="_blank"
    rel="noopener noreferrer"
    class="sector-card regulations"
  >
    <div class="sector-label">Regulations</div>
  </a>
  <a
    href="https://indianstates.csis.org/sectors/infrastructure-and-governance/"
    target="_blank"
    rel="noopener noreferrer"
    class="sector-card infrastructure"
  >
    <div class="sector-label">Infrastructure and Governance</div>
  </a>
  <a
    href="https://indianstates.csis.org/sectors/land-labor-laws/"
    target="_blank"
    rel="noopener noreferrer"
    class="sector-card labor"
  >
    <div class="sector-label">Land & Labor Laws</div>
  </a>
  <a
    href="https://indianstates.csis.org/sectors/water-sanitation/"
    target="_blank"
    rel="noopener noreferrer"
    class="sector-card water"
  >
    <div class="sector-label">Water & Sanitation</div>
  </a>
</div>

<iframe
  class="table-iframe"
  id="newtable"
  src="https://indian-states-table.netlify.app"
  frameborder="0"
  style="width: 100%; height: 100vh"
></iframe>
