---
layout: default
---

<div class="cards">
  <a
    href="https://indianstates.csis.org/sectors/climate-change-and-energy/"
    rel="noopener noreferrer"
    class="card"
    id="energy-card"
  >
    <span class="sector-card-label">Climate Change & Energy</span>
  </a>
  <a
    href="https://indianstates.csis.org/sectors/finance/"
    rel="noopener noreferrer"
    class="card"
    id="finance-card"
  >
    <span class="sector-card-label">Finance</span>
  </a>
  <a
    href="https://indianstates.csis.org/sectors/health/"
    rel="noopener noreferrer"
    class="card"
    id="health-card"
  >
    <span class="sector-card-label">Health</span>
  </a>
  <a
    href="https://indianstates.csis.org/sectors/industrial-policy-and-business-regulations/"
    rel="noopener noreferrer"
    class="card"
    id="business-card"
  >
    <span class="sector-card-label"
      >Industrial Policy & Business Regulations</span
    >
  </a>
  <a
    href="https://indianstates.csis.org/sectors/infrastructure-and-governance/"
    rel="noopener noreferrer"
    class="card"
    id="infrastructure-card"
  >
    <span class="sector-card-label">Infrastructure & Governance</span>
  </a>
  <a
    href="https://indianstates.csis.org/sectors/land-labor-laws/"
    rel="noopener noreferrer"
    class="card"
    id="labor-card"
  >
    <span class="sector-card-label">Land & Labor Laws</span>
  </a>
  <a
    href="https://indianstates.csis.org/sectors/water-sanitation/"
    rel="noopener noreferrer"
    class="card"
    id="water-card"
  >
    <span class="sector-card-label">Water & Sanitation</span>
  </a>
  <a
    href="https://indianstates.csis.org/sectors/center-state-relations/"
    rel="noopener noreferrer"
    class="card"
    id="center-state-card"
  >
    <span class="sector-card-label">Center-State Relations</span>
  </a>
</div>

<iframe
  class="table-iframe"
  id="newtable"
  src="https://indian-states-table.netlify.app"
  frameborder="0"
  style="width: 100%; height: 100vh"
  allow="web-share"
></iframe>
